[build]
  publish = "."
  command = "npm install"

[[redirects]]
  from = "/auth"
  to = "/.netlify/functions/auth"
  status = 200

[[redirects]]
  from = "/auth/callback"
  to = "/.netlify/functions/auth/callback"
  status = 200

[functions]
  directory = "netlify/functions"
